*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#f1f3f4;
    height:100vh;
}

.app{
    display:flex;
    height:100vh;
}

.sidebar{
    width:320px;
    background:white;
    padding:20px;
    border-right:1px solid #ddd;
    overflow-y:auto;
}

.sidebar h2{
    color:#2563eb;
    margin-bottom:25px;
}

.sidebar-section{
    margin-bottom:25px;
}

.sidebar-section h4{
    margin-bottom:10px;
    color:#444;
}


.online-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

#online{
    font-weight:bold;
    color:#10b981;
    margin: 0;
}

#typing-status{
    color:#666;
    min-height:40px;
}

#username{
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
    margin-bottom:10px;
}

#joinBtn{
    width:100%;
    padding:10px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#joinBtn:hover{
    background:#1d4ed8;
}


#downloadPdf{
    width: auto; 
    padding: 6px 15px; 
    background:#10b981;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size: 14px;
}

#downloadPdf:hover{
    background:#059669;
}

#activity-list{
    list-style:none;
}

#activity-list li{
    background:#f8fafc;
    margin-bottom:8px;
    padding:10px;
    border-radius:8px;
    font-size:14px;
}

.editor-area{
    flex:1;
    padding:30px;
    display:flex;
    flex-direction:column;
}


.editor-header h2 {
    font-size: 18px; 
    font-weight: bold;
    color: #444;
}

#editor{
    flex:1;
    width:100%;
    border:none;
    outline:none;
    background:white;
    padding:25px;
    border-radius:12px;
    font-size:16px;
    resize:none;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

@media(max-width:768px){
    .app{
        flex-direction:column;
    }
    .sidebar{
        width:100%;
        border-right:none;
        border-bottom:1px solid #ddd;
    }
}